<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./public/css/custom.css">
        <script src="./public/js/custom.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        <link rel="icon" href="https://cdn-icons-png.flaticon.com/128/3127/3127236.png" type="image/x-icon">
        <title>Previsão do Tempo</title>
    </head>

    <body>
        <div class="container">
            <div class="conteudo">
                <div class="principal">
                    <div class="dataTime">
                        <p id="data-info"> </p>
                    </div>
                    <div class="clima-local">
                        <h3 id="nome_cidade">Luanda, Angola</h3>
                    <div class="imagem">
                            <img src="https://cdn1.iconfinder.com/data/icons/weather-forecast-meteorology-color-1/128/weather-sunny-512.png" id="w-img" alt=""> 
                        </div>
                        <h1 id="temperatura">
                            34&deg;C
                        </h1>
                        <div id="weather-info"></div>
                    </div>
                    <div class="outros">
                        <div class="vento flx">
                            <i class="fas fa-wind"></i>
                            <div class="loc">
                                <span>Vento</span>
                                <span id="ven">12:00</span>
                            </div>
                        </div>
                        <div class="temp flx">
                            <i class="fa-solid fa-temperature-half"></i>
                            <div class="loc">
                                <span>Temperatura</span>
                                <span id="tem">12:00</span>
                            </div>
                        </div>
                        <div class="humit flx">
                            <i class="fa-solid fa-droplet"></i>
                            <div class="loc">
                                <span>Humidade</span>
                                <span id="hum">12:00</span>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="rigth">
                <nav class="navegador">
                    <ul class="menuNavegador">
                        <li class="menuItem">
                            <div class="btn btn-icon first-icon">
                                <i class="fas fa-bell"></i>
                            </div>
                        
                        </li>
                        <li class="menuItem">
                            <div class="form-pesquisa"  onclick="abilitar()">
                                    <input type="text" name="pesquisa" id="idPesquisa" class="txt txt-pesquisa" oncanplay="getWeather()" placeholder="Localização">
                                    <button id="search-button" class="btn btnpesquisa" onclick="getWeather()">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <div id="acert"></div>
                            </div>
                        </li>
                        <li class="menuItem">
                            <div class="btn btn-icon">
                                <i class="fas fa-link"></i>
                            </div>
                           
                        </li>
                    </ul>
                </nav> 
                <div id="hourly-forecast" class="semanal">
                </div>

                    <div class="regiao">   
                        <div class="regiao_left">
                            <div class="img">
                                <img src="https://cdn1.iconfinder.com/data/icons/weather-forecast-meteorology-color-1/128/weather-sunny-512.png" alt="">  
                            </div>
                            <div class="regiao_info">  
                                <span>Luanda</span>
                                <span>30&deg;C</span>
                            </div>
                        </div>
                        <div class="regiao_middle">
                            <div class="img">
                                <img src="https://cdn1.iconfinder.com/data/icons/weather-forecast-meteorology-color-1/128/weather-sunny-512.png" alt="">  
                            </div>
                            <div class="regiao_info">  
                                <span>Talatona</span>
                                <span>30&deg;C</span>
                            </div>
                        </div>
                        <div class="regiao_right">
                            <div class="img">
                                <img src="https://cdn1.iconfinder.com/data/icons/weather-forecast-meteorology-color-1/128/weather-sunny-512.png" alt="">  
                            </div>
                            <div class="regiao_info">  
                                <span>Kilamba Kiaxi</span>
                                <span>30&deg;C</span>
                                </div>
                        </div>
                    </div>
                </div>
            </div>

                       
        </div>
    

        <script>
            function atualizarDataHora() {
                var agora = new Date();
                var opcoes = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit' };
                var dataFormatada = agora.toLocaleString('pt-BR', opcoes);
                // Garante que a primeira letra do dia da semana e do mês estejam em maiúsculas
                dataFormatada = dataFormatada.replace(/(^\w{1})|(\s+\w{1})/g, letra => letra.toUpperCase());
                document.getElementById('data-info').innerHTML = dataFormatada;
            }
            atualizarDataHora();
            setInterval(atualizarDataHora, 1000); // Atualiza a data e a hora a cada 1 segundo
        </script>
    </body>
</html>
